* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.2rem;
  color: rgb(5, 76, 5);
}
.container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgba(36, 141, 36, 0.45);
}
.form-element__wrap {
  width: 50vw;
}
.form-element__wrap {
  display: flex;
  flex-direction: column;
}
input {
  cursor: pointer;
  padding: 0.2rem;
}
button {
  width: 250px;
  background-color: rgb(218, 178, 32);
  color: #fff;
  padding: 0.25rem;
  border-radius: 10px;
  border: 2px solid rgb(209, 163, 0);
  cursor: pointer;
}
button:hover {
  background-color: rgb(242, 207, 78);
  border: 2px solid rgb(242, 207, 78);
  color: #fff;
}
button:active {
  background-color: rgb(240, 235, 217);
  border: 2px solid rgb(240, 235, 217);
  color: #3d3c3c;
}
button:disabled {
  background-color: rgb(190, 190, 188);
  border: 2px solid rgb(121, 121, 120);
  color: #fff;
}
